.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}

.bgMain {
	background: linear-gradient(-45deg, #1e88e5, #1e88e5, #0d47a1, #0d47a1);
	background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

.bgMain2 {
	background: linear-gradient(-45deg, #1e88e5, #1e88e5, #0d47a1, #0d47a1);
	background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    height: 100%;
}

#banner-main{
    padding:10px;
    margin:-1px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cardVoto{
    background-image: linear-gradient(white, whitesmoke);
    margin: 2vh;
    border-radius: 5px;
    padding:5px;
}

.cardVotoMVP{
    background-color: #1e88e5;
    background-image: linear-gradient(#1e88e5, #1976d2 );
    margin: 2vh;
    border-radius: 5px;
    padding:5px;
}

img{
    width: 16vh;
    border-radius: 5px;
    margin-top:1vh;
}

p{
    font-size:15px;
    margin-bottom: 1vh;
}

.divApp{
    height: 150px;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tituloApp{
    font-size: 50px;
    font-weight: bold;
    -webkit-text-fill-color: #1e88e5;
    max-width: 350px;
    text-transform: uppercase;
    line-height: .77;
  }

  h3{
      color:white;
      padding:1vh;
  }

.imgEquipos{
    width:35px;
    float:left;
}

.jugadoresVotosNexus{
    margin-top:10px;
}

.imgMenu{
    width: 500px;
}

.menuDiv {
    height: 11vh;
    
}

.fontMenu{
    font-family: 'Oswald', sans-serif;
}

.jugadorList{
    color:black;
    text-shadow: none;
}